@import "tailwindcss";

@theme {
  --color-primary: #fb4b0b;
  --color-primary-accent: #fcece6;
  --color-circles: #cfcfcf;
  --color-generator: #f5f5f5;
  --color-generator-dark: #5e5e5e;
  --color-generator-buttons: #d9d9d9;
  --color-background: #ffffff;
  --color-background-dark: #212224;

  --color-text: #000000;
  --color-text-black: #000;
  --color-text-dark: #ffffff;
}

/* Dark Mode Settings */

.bg-generator-buttons {
  background-color: var(--color-generator-buttons);
}

.dark .bg-generator-buttons {
  background-color: var(--color-generator-dark);
}
.bg-document {
  background-color: var(--color-generator);
}

.dark .bg-document {
  background-color: var(--color-generator-dark);
}

.bg-cl-generator {
  background-color: var(--color-generator);
}
.dark .bg-cl-generator {
  background-color: var(--color-text);
}
.bg-background {
  background-color: var(--color-background);
}

.dark .bg-background {
  background-color: var(--color-background-dark);
}

.text-default {
  color: var(--color-text);
}

.dark .text-default {
  color: var(--color-text-dark);
}

.bg-circles-h {
  background-color: var(--color-circles);
}

.dark .bg-circles-h {
  background-color: var(--color-primary);
}

.text-circles {
  color: var(--color-text-black);
}

.dark .text-circles {
  color: var(--color-text-dark);
}

.bg-test-card {
  background-color: var(--color-circles);
}

.dark .bg-test-card {
  background-color: var(--color-text);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

.dark body {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}
/* Dark Mode Settings END*/

@layer utilities {
  @media (min-width: 640px) {
    .mr-responsive {
      margin-right: clamp(2rem, 12vw, 20rem);
    }
  }
}

@media (max-width: 320px) {
  .xs-flex-col {
    flex-direction: column;
    margin: 0.5rem;
  }
}

:root {
  --font-leckerli: "Leckerli One", cursive;
}

.font-leckerli {
  font-family: var(--font-leckerli);
}

.circle-3d {
  background: linear-gradient(to bottom, #fb4b0b, #f64803);
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2),
    inset 0px 4px 4px rgba(255, 255, 255, 0.3),
    inset 0px -4px 6px rgba(0, 0, 0, 0.3);
}

.button-3d {
  background: linear-gradient(to bottom, #fb4b0b, #f64803);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2),
    inset 0px 4px 4px rgba(255, 255, 255, 0.3),
    inset 0px -4px 6px rgba(0, 0, 0, 0.3);
}

.button-3d:hover {
  background: linear-gradient(to bottom, #ff5e1f, #d93600);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25),
    inset 0px 3px 3px rgba(255, 255, 255, 0.4),
    inset 0px -3px 5px rgba(0, 0, 0, 0.3);
}

.button-3d:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2),
    inset 0px 2px 3px rgba(255, 255, 255, 0.3),
    inset 0px -2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.95);
}
